.info-blog {
  margin-top: 80px;
  display: grid;
  grid-template-columns: min-content minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, max-content) 1fr;
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .info-blog {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .info-blog {
    margin-top: 72px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .info-blog {
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 32px;
  }
}
