.photo-gallery__img {
  width: 284px;
  height: 213px;
}

@media screen and (max-width: 1280px) {
  .photo-gallery__img {
    width: 300px;
    height: 225px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-gallery__img {
    width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 768px) {
  .photo-gallery__img {
    width: 288px;
    height: 216px;
  }
}
